<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sélection de Mini-Jeux</title>
  <link rel="stylesheet" href="../view/style/styleeChoixJeu.css">
</head>
<body>

<div class="container">
  <h1>Choisissez un Mini-Jeu</h1>

  <ul class="game-list">
    <li class="game-item" onclick="startGame('Mini-Jeu 1')">Circuit éléctrique</li>
    <li class="game-item" onclick="startGame('Mini-Jeu 2')">QCM - Electricité</li>
    
    <!-- Ajoutez d'autres jeux selon vos besoins -->
  </ul>
</div>

<script src="../view/script/scriptMiniJeu.js"></script>

</body>
</html>
