<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions d'utilisation - Lab'Scape</title>
    <link rel="stylesheet" type="text/css" href="../view/style/condition.css">
</head>
<body>
    <div class="container">
        <h1>Conditions d'utilisation</h1>

        <p>Bienvenue sur <strong>Labcape</strong> !</p>

        <p><strong>Collecte et Traitement des Données Personnelles</strong></p>
        <p>En utilisant notre application, vous consentez à la collecte et au traitement de vos données personnelles conformément à notre politique de confidentialité. Nous collectons des informations nécessaires pour fournir nos services et améliorer votre expérience utilisateur.</p>

        <p><strong>Âge Minimum Requis</strong></p>
        <p>Notre application est destinée aux utilisateurs âgés de 16 ans et plus. En utilisant notre application, vous déclarez avoir au moins 16 ans. Si vous avez moins de 16 ans, veuillez ne pas utiliser notre application et ne fournissez pas vos données personnelles.</p>

        <p><strong>Droits des Utilisateurs</strong></p>
        <p>Conformément au RGPD, vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer et de vous opposer à leur traitement. Pour exercer ces droits, veuillez nous contacter à [adresse e-mail de contact].</p>

        <p><strong>Consentement</strong></p>
        <p>En utilisant notre application, vous consentez à nos conditions d'utilisation et à notre politique de confidentialité. Vous pouvez retirer votre consentement à tout moment en supprimant votre compte ou en nous contactant.</p>

        <p><strong>Sécurité des Données</strong></p>
        <p>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos données personnelles. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée.</p>

        <p><strong>Modifications des Conditions d'utilisation</strong></p>
        <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication dans l'application. Il est de votre responsabilité de consulter régulièrement les conditions d'utilisation pour rester informé des éventuelles modifications.</p>

        <p>En utilisant notre application, vous acceptez ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre application.</p>
    </div>

    <footer>
        <p>Pour toute question ou préoccupation, veuillez nous contacter à <a href="mailto:contact@Labscape.com">contact@Labscape.com</a>.</p>
        <p>Merci de faire partie de <strong>LabScape !</strong> !</p>
    </footer>
</body>
</html>
