<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab'scape Controls Guide</title>
    <link rel="stylesheet" href="../design/guide.css">
</head>
<body>
    <div class="controls">
        <div class="keyboard">
            <div class="row">
                <div class="key">B</div> 
                <div class="key">Z</div>
            </div>
            <div class="row">
                <div class="key">Q</div>
                <div class="key">S</div>
                <div class="key">D</div>
            </div>
            <div class="descriptions">
                <div class="description">Deplacemment</div>
                <div class="description">&</div>
                <div class="description"> Dance</div>
                
            </div>
        </div>
        <div class="mouse">
            <img src="../asset/images/souris.png" alt="Mouse" class="mouse-icon">
            <div class="description">Clic gauche pour interagir</div>
        </div>
    </div>
</body>
</html>

